name: Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Build the app
        run: npm run build

      - name: Test
        run: npm test

      - uses: actions/upload-artifact@v3
        if: ${{ github.ref == 'refs/heads/main' && github.repository_owner == 'geolonia' }}
        with:
          name: build-output
          path: build/
          if-no-files-found: error
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' && github.repository_owner == 'geolonia' }}

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: build-output

      - name: Deploy the app to `gh-pages`
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build
          publish_branch: gh-pages
          force_orphan: true
